<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
</head>
<body>
    <div>
        <div>
            <h1>Busca tu sala!</h1>
        </div>
        <div>
            <h3>Pone tu nombre de usuario!</h3>
            <input type="text" id="username" placeholder="username">
        </div>
        <div>
            <input type="text" placeholder="nombre-de-la-sala" id="sala">
            <button type="submit">Unirse!</button>
        </div>
    </div>

    
</body>
</html>